
  <div class="note-card" [style.opacity]="model.isRemoved === false ? '1' : '0.5'">
      <div class="card-content">
          <ng-container *ngIf="editMode === false">
                  <section>{{model.title}}</section>
                  <p>{{model.content}}</p>
          </ng-container>
          <ng-container *ngIf="editMode === true">
              <form [formGroup]="noteEditForm">
            <div>
              <mat-form-field >
                <mat-label>Заголовок</mat-label>
                <input (focus)="onFormControlFocused()" (blur)="onFormControlBlured()" matInput formControlName="title">
              </mat-form-field>
            </div>
            <div>
                <mat-form-field >
                  <mat-label>Содержание</mat-label>
                  <textarea (focus)="onFormControlFocused()" (blur)="onFormControlBlured()" matInput formControlName="content"></textarea>
                </mat-form-field>
              </div>
            </form>
          </ng-container>
          <div class="card-footer">
            <ng-container *ngIf="editMode === false">
              <button mat-raised-button color="basic" *ngIf="model.isRemoved === false" (click)="removeNote($event)">Удалить</button>
              <button mat-raised-button color="basic" *ngIf="model.isRemoved === true" (click)="restoreNote($event)">Восстановить</button>
            </ng-container>
            <ng-container *ngIf="editMode === true">
                <button mat-raised-button color="primary" (click)="saveNote($event)">Сохранить</button>
                <button mat-raised-button color="basic" (click)="clearForm($event)">Очистить</button>
              </ng-container>
          </div>
      </div>
  </div>

